In [1]:
from pandas import read_csv, Series, CategoricalDtype

### part 1

In [20]:
d = CategoricalDtype('forward down up'.split())
m = Series({
    'forward': 1+0j,
    'down':0+1j,
    'up':0-1j
}).pipe(lambda s: s.set_axis(s.index.astype(d)))

In [24]:
data = read_csv(
    'data/input-2.1.txt',
    sep=' ',
    names=['direction', 'distance'],
    dtype={'direction':d},
    index_col=['direction'],
    header=None
)

In [25]:
data

           distance
direction
forward           6
down              8
down              5
down              9
forward           2
...             ...
forward           1
down              7
down              8
down              3
forward           6

[1000 rows x 1 columns]

In [27]:
int((pos := (m.reindex(data.index).values*data['distance']).sum()).real*pos.imag)

2215080